/* importing google fonts */
@import url('https://fonts.googleapis.com/css?family=Gaegu|Gloria+Hallelujah|Permanent+Marker');

body {
	/* colours */
	background-color: #fcdac4;
	color: #3a0b5e;
	font-family: 'Gloria Hallelujah', cursive;
}

/* sort of a front page*/
h1 {
	text-align: center;
	width: 100%;
	font-size: 7em;

	margin-top: 0%;
	padding-bottom: 20%;
	padding-top: 10%;
	margin-bottom: 0%;

	/* setting a background image */
	background-image: url("landscape.png");
	background-size: 100% 100%;

	font-family: 'Gaegu', cursive;
}

h2 {
	font-size: 1.5em;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

/* styling navigation bars */
nav {
	display: inline;
	list-style-type: none;
	font-size: 1.5em;
	width: 100%;
	font-family: 'Permanent Marker', cursive;
}

nav li {
	float: left;
	text-align: center;
	width: 20%;
}

nav li a {
	text-decoration: none;
	display: block;
	background-color: #f9ac48;

	/* formatting */
	padding-top: 1%;
	padding-bottom: 1%;
}

/* hiding nested links*/
.dropdown-content {
	display: none;
	position: absolute;
}

/* unhiding nested links */
.dropdown:hover .dropdown-content {
	display: block;
	min-width: 20%;
	bottom: 100%; /*Adds space under the dropdown content*/
}

.active, nav li a:hover {
	background-color: #e8901e;
}

#navBar {
	/* making the navigation bar stay at the bottom of the page*/
	bottom: 0;
	position: fixed;
	width: 100%;

	/* prioritizing */
	margin-left: 10%;
	z-index: 1;
}

.css-options {
	margin-left: 30%;
}

/* formatting content */
article, aside {
	background-color: #ffffff;
	opacity: 0.5;
	color: #933c01;
	padding: 2%;
	margin-top: 3%;
	border-style: solid;
	border-width: 100%;
	border-radius: 5%;
	border-color: #e8901e;
}

footer {
	text-align: center;
	margin-bottom: 5%;
}