body {
	background-color: #edf1f7;
	margin-left: 5%;
	width: 90%;
	font-family: arial;
}

h1 {
  text-align: center;
  font-family: cambria;
  color: #38414f;
  font-size: 4em;
}

h2 {
	text-align: center;
	font-family: cambria;
	color: #38414f;
	font-size: 1.5em;
}

nav {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0.3%;
  font-size: 1.175em;
  /*sizing the navbar*/
  width: 80%;
  margin-left: 10%;
}

nav li {
  float: left;
  border-right: 1px solid white;
  width: 20%;
  text-align: center;
}

li:last-child {
  border-right: none;
}

a {
  display: block;
  padding: 8px;
  background-color: #d9d9d9;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #99ccff;
}

.active {
  background-color: #99ccff;
}

/*hiding drop down menu*/ 
.dropdown-content {
	display: none;
    position: absolute; /*see if its possible to change to relative later*/
    min-width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*unhiding drop down menu when there cursor is hovering over the menu bar*/
.dropdown:hover .dropdown-content {
	display: block;
}


#navBar, .css-options{
  text-align: center;
}

/*specific styling to the css selection bar*/
.css-options {
	display: block;
	float: center;
	margin-left: 15%;
	/*font-size: 1em;*/
}

/*shrink size of 2ndary navigation bar*/
.css-options {
	font-size: 0.75em;
}

#content {

}

article {
	/*size and placement of box*/
  text-align: center;
  display: inline-block;
  right: 0px;
  margin-left: 12%;
  margin-right: auto;
  /*borders*/
  border-style: solid;
  border-radius: 2px;
  border-width: 1.15px;
  background-color: #e6ffe6;
  padding: 1%;
  width: 60%;
  /*using px instead of % because % makes it look weird*/
  border-radius: 25px;
  
}

aside {
	/*size and placement of box*/
  display: inline-block;
  float: right;
  text-align: left;
  position: relative;
  margin-left: 0;
  margin-right: 8%;
  width: 15%;
  /*borders*/
  border-style: solid;
  border-radius: 2px;
  border-width: 1.15px;
  background-color: #e6ffe6;
  padding: 1%;
  /*using px instead of % because % makes it look weird*/
  border-radius: 25px;
}

footer {
  font-size: 0.7em;
  text-align: center;
}

/* formatting footer link */
footer a {
	width: 80%;
	margin-left: 10%;
}